<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet"
          th:href="@{/styles/all.css}"/>

    <div id="viewport" th:fragment="left">
        <div id="sidebar">
            <header>
                <a href="/user">My App</a>
            </header>
            <ul class="nav">
                <li>
                    <a href="/adduser">
                        <i class=""></i> Dodać nowego pracownika
                    </a>
                </li>
                <li>
                    <a href="/usersPerformance">
                        <i class=""></i> Wydajności twoich pracowników
                    </a>
                </li>
                <li>
                    <a href="/import">
                        <i class=""></i> Import
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-calendar"></i> Events
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-info-outline"></i> About
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-settings"></i> Services
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="zmdi zmdi-comment-more"></i> Contact
                    </a>
                </li>
            </ul>
        </div>
    </div>
</head>
<body>

</body>
</html>