<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <div th:insert="~{fragments/fragmentImport :: import}"></div>
    <link rel="stylesheet"
          th:href="@{/styles/users.css}"/>
</head>
<body>
<div th:insert="~{fragments/fragmentLeft :: left}"></div>
<div th:insert="~{fragments/fragmentTop :: top}"></div>
<div id="content">
    <!--/*@thymesVar id="users" type="com.example.fiegerunner.dto.EmployeeReadTLDto"*/-->
    <table>
        <thead>
        <tr>
            <th>Expertis</th>
            <th>Nazwisko</th>
            <th>Imię</th>
            <th>Stanowisko</th>
            <th>Gender</th>
            <th>Pracuje od</th>
            <th>Zamienić dane</th>
            <th>Sprawdzić wydajnośc</th>
            <th>Postawić oceny</th>
            <th>Dni z ostatnej oceny</th>
        </tr>
        </thead>
        <tbody th:each="employee : ${users}" th:object="${employee}">
        <tr>
            <th th:text="*{expertis}">Expertis</th>
            <th th:text="*{lastName}">LastName</th>
            <th th:text="*{firstName}">FirstName</th>
            <th th:text="*{position}">Stanowisko</th>
            <th th:text="*{gender}">Gender</th>
            <th th:text="*{employment}">Employment</th>
            <th>
                <a th:href="@{'/users/' + *{id}}">
                    <button type="submit">Click me</button>
                </a>
            </th>
            <th>
                <a th:href="@{'/performance/' + *{id}}">
                    <button type="submit">Click me</button>
                </a>
            </th>
            <th>
                <a th:href="@{'/evaluation/' + *{id}}">
                    <button type="submit">Click me</button>
                </a>
            </th>
            <th></th>
        </tr>
        </tbody>
    </table>

    <!--<div th:each="employee : ${users}">-->
    <!--    <a th:href="@{'/users/' + ${employee.id}}" th:text="|${employee.expertis}. ${employee.firstName}|">User</a>-->
    <!--</div>-->
</div>
</body>
</html>
