<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal page</title>

    <link rel="stylesheet"
          th:href="@{/styles/styleMy.css}"/>

</head>
<body>

<!--/*@thymesVar id="user" type="com.example.fiegerunner.dto.EmployeeAddDto"*/-->
<form th:action="@{/create}" id="form-registration" method="post" th:object="${user}">
    <div>
        <label for="expertis">Expertis:
            <input type="number" name="expertis" required id="expertis" th:value="*{expertis}">
        </label>

        <label for="firstName">Imię:
            <input type="text" name="firstName" required id="firstName" oninput="this.value=this.value.replace(/[^a-zA-Z]/g,'');"
                   th:value="*{firstName}">
        </label>

        <label for="lastName">Nazwisko:
            <input class="input" type="text" name="lastName" id="lastName" required oninput="this.value=this.value.replace(/[^a-zA-Z]/g,'');"
                   th:value="*{lastName}">
        </label>

        <label for="supervisorExpertis">Expertis Kierownika:
            <input class="input" type="number" name="supervisorExpertis" id="supervisorExpertis" required th:value="*{supervisorExpertis}">
        </label>
    </div>

        <div>
            <label for="department">Dział:
                <select id="department" name="department" required>
                    <!--/*@thymesVar id="department" type="java.lang.String"*/-->
                    <option th:each="dep : ${department}"
                            th:value="${dep}"
                            th:text="${dep}">Dep</option>
                </select>
            </label>
        </div>

    <div>
        <label for="team">Grupa:
            <select id="team" name="team" required >
                <!--/*@thymesVar id="team" type="java.lang.String"*/-->
                <option th:each="teams : ${team}"
                        th:value="${teams}"
                        th:text="${teams}">Team</option>
            </select>
        </label>
    </div>

    <div>
    <label for="position">Stanowisko:
        <select id="position" name="position" required>
            <!--/*@thymesVar id="position" type="java.lang.String"*/-->
            <option th:each="positions : ${position}"
                    th:value="${positions}"
                    th:text="${positions}">Position</option>
        </select>
    </label>
    </div>

    <!--/*@thymesVar id="gender" type="java.lang.String"*/-->
    <div th:each="genders : ${gender}">
        <input th:id="${genders}" type="radio" name="gender" th:value="${genders}" required>
        <label th:for="${genders}" th:text="${genders}">Gender type</label>
    </div>

    <!--/*@thymesVar id="employment" type="java.lang.String"*/-->
    <div th:each="employments : ${employment}">
        <input th:id="${employments}" type="radio" name="employment" th:value="${employments}" required>
        <label th:for="${employments}" th:text="${employments}">Employment</label>
    </div>

    <!--/*@thymesVar id="shift" type="java.lang.String"*/-->
    <div th:each="shifts : ${shift}">
        <input th:id="${shifts}" type="radio" name="shift" th:value="${shifts}" required>
        <label th:for="${shifts}" th:text="${shifts}">Shift</label>
    </div>
    <button type="submit">Dodać pracownika</button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>