<div id="viewport" th:fragment="left">
    <!-- Sidebar -->
    <div id="sidebar">
        <header>
            <a href="/user">My App</a>
        </header>
        <ul class="nav">
            <li>
                <a href="/adduser">
                    <i class=""></i> Dodać nowego pracownika
                </a>
            </li>
            <li>
                <a href="/usersPerformance">
                    <i class=""></i> Wydajności twoich pracowników
                </a>
            </li>
            <li>
                <a href="/import">
                    <i class=""></i> Import
                </a>
            </li>
            <li>
                <a href="/allUsers">
                    <i class=""></i> Twoi pracowniki
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-info-outline"></i> About
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-settings"></i> Services
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-comment-more"></i> Contact
                </a>
            </li>
        </ul>
    </div>
</div>